:root {
	--color-primary: #00e9c9;
	--color-secondary: #004fdf;
	--color-current: #333333;
	--color-hint: #999999;
	--color-success: #28c75d;
	--color-danger: red;
	--color-brand: #feaa7f;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@apply pl-10 pr-10;

	font-size: 14px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
